@import './common';

.alternate-ways{
    &_header{
        height: calc(100svh - 5rem);
        @include flex-column-center;
        flex-wrap: nowrap;
        // @include testing-border-1;
        // margin-bottom: 2rem;
        
        img{
            height: calc(100% - 15vh);
            width: 100%;
            object-fit: cover;
        }

        .heading-wrapper{
            @include box-shadow-default(rgba(0,0,0,0.3));
            width: 100%;
            height: 15vh;
            @include flex-row-center;

            h2{
                @include font-heading-1;
            }
        }
    }

    // 
    // => TCM
    // 
    &_tcm{
        border-bottom: 5px double rgba(0,0,0,.1);
        padding-bottom: 2rem;

        &_header{
            @include flex-row-between;
            width: 100%;
            margin: auto;
            // @include testing-border-2;
            // margin-bottom: 2rem;

            img{
                width: 60%;
                height: 80svh;
                object-fit: cover;
            }

            h3{
                // @include testing-border-2;
                text-align: center;
                flex-grow: 1;
            }
        }

        &_topic{
            padding: 2rem;
            // @include testing-border-2;
            width: 80%;
            margin: 1rem auto;
            // border: solid var(--color-primary);
            // border-radius: 2rem;

            img{
                width: 100%;
                height: 50svh;
                object-fit: cover;
                margin: auto;
                display: block;
            }

            .heading-markup{
                background-color: var(--color-primary);
                padding: .5rem 4rem .5rem 1rem;
            }

            // h4{
            //     // text-align: center;
            //     // font-size: 1.1rem;
            // }

            &:nth-of-type(odd){
               border-width: 2px 0px 0 2px;
            }

            &:nth-of-type(even){
                border-width: 2px 2px 0 0;
            }

            .container-description{
                @include flex-row-between;
                align-items: stretch;
                margin: 1rem auto 2rem;
                // @include flex-variable(column, nowrap, flex-start, center);
            }

            .on-the-point{
                // background-color: var(--color-primary);
                padding: 1rem;
                max-width: 35rem;
                @include flex-row-center;
                border-radius: 2rem;
                // margin-bottom: 2rem;

                border: 2px solid var(--color-primary);
    
                p{
                    color: var(--color-on-primary);

                    &::first-letter{
                        font-size: 1.5rem;
                        margin-right: .2rem;
                    }

                    &::first-line{
                        font-weight: bold;
                    }
                }
            }

            p{
                max-width: 35rem;
            }

            a{
                font-weight: bold;
                text-decoration: underline;
                position: relative;
                margin-left: 3rem;

                &::before{
                    position: absolute;
                    left: -2rem;
                    content: '\279C';
                }

                &:hover{
                    color: var(--color-akzent-2);
                }
                
            }
        }
    }

    //
    // => CUPPING, TIBETIAN MASSAGE
    //
    &_cupping,
    &_tibetian-massage{
        min-height: 80svh;
        margin-top: 3rem;
        border-bottom: 5px double rgba(0,0,0,.1);
        padding-bottom: 2rem;

        @include flex-variable(row, nowrap, center, stretch);
        
        &_left-side{
            width: 50%;
            // @include testing-border-2;
            @include flex-row-center;

            img{
                width: 90%;
                height: 90%;
                object-fit: cover;
                border-radius: 5rem 2rem;
                max-height: 35rem;
            }
        }

        &_right-side{
            width: 50%;
            // @include testing-border-2;
            padding: 2rem;

            h3{
                text-align: center;
            }

            p{
                max-width: 40rem;
                margin: 1rem auto;
            }

            .on-the-point{
                padding: 1.5rem;
                // border: 2px solid  var(--color-primary);
                background-color: var(--color-primary);
                // border-radius: 2rem;
                max-width: 41rem;
                margin: 1.5rem auto;
            }

            a{
                font-weight: bold;
                text-decoration: underline;
                position: relative;
                margin-left: 5rem;
                margin-top: 2rem;
                display: block;

                &::before{
                    position: absolute;
                    left: -2rem;
                    content: '\279C';
                }

                &:hover{
                    color: var(--color-akzent-2);
                }
                
            }
        }
    }

    &_tibetian-massage{
        &_left-side{
            order: 2;

            img{
                border-radius: 2rem 5rem; 
            }
        }
    }

    //
    // => QI GONG GROUP, MEDITATION GROUP
    //
    &_qi-gong-group,
    &_meditation-group{
        border-bottom: 5px double rgba(0,0,0,.1);
        padding-bottom: 2rem;

        &_header{
            height: 85svh;
            overflow: hidden;
            // margin-top: 2rem;

            img{
                height: 70svh;
                width: 100%;
                object-fit: cover;
            }

            h3{
                width: 60%;
                text-align: center;
                padding: 1rem;
                margin: auto;
                margin-top: -3rem;
                background-color: #fff;
                position: relative;
                z-index: 5;
                border-radius: 2rem 2rem 0 0;
            }
        }

        &_description{
            width: 80%;
            margin: auto;
            @include flex-row-between;

            p{
                max-width: 35rem;
                padding: 2rem;
                border: solid var(--color-primary);
                border-width: 0 0 0 2px;
                // border-radius: 2rem
            }

            dl{
                width: 35rem;
                @include flex-variable(row, wrap, space-between, center);
                row-gap: .5rem;

                dt{
                    width: 30%;
                }

                dd{
                    width: 60%;
                }
            }

            span{
                background-color: var(--color-primary);
                padding-right: 1rem;
                display: inline-block;

                &::first-letter{
                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-right: .2rem;
                }
            }
        }

        &_request{
            // @include testing-border-1;
            width: 80%;
            margin: auto;
            @include flex-row-center;
            margin-top: 2rem;

            p{
                // width: 100%;
                font-weight: 600;
                text-align: center;
            }

            a{
                @include flex-row-center;
                margin: 2rem;
                text-decoration: underline;
                font-weight: bold;

                img{
                    width: 2.5rem;
                    margin-right: .5rem;
                }
            }
        }
    }

    &_meditation-group{
        &_header{
            img{
                object-position: top;
            }
        }
    }
}