@import './common.scss';


// --------------------------
// ### ARCHIVE ###
// --------------------------

.blog{
    @include flex-variable(row, wrap, space-between, stretch);

    // INTRO SECTION
    &_intro-section{
        height: calc(100svh - 5rem);
        width: 100%;
        // border-bottom: 1px solid rgba(0,0,0, 0.2);
        margin-bottom: 2rem;

        @media screen and (max-width: 500px) {
            margin-bottom: 0;
        }
    

        img{
            width: 100%;
            height: 75%;
            object-fit: cover;
            object-position: top;
        }

        h2{
            // border: 1px solid black;
            // height: 25%;
            // @include flex-row-center;
            // margin: 0;
            // padding: 0;
            // box-shadow: 1px 3px 6px rgba(0,0,0,.2);

            height: 15vh;
            background-color: var(--color-secondary);
            box-shadow: 1px 3px 6px rgba(0,0,0,.2);
            margin: -1rem auto 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-family: "Spectral SC",serif;
            font-display: block;
            font-weight: bold;
            font-size: 2rem;

        }
    }

    // BLOG INFO
    &_info{
        // border: 3px solid green;
        width: calc(60% + 20rem);
        // padding-left: 5rem;
        @include flex-variable(row, wrap, flex-start, center);
        // border: 1px solid black;
        margin: 0 auto 2rem;

        @media screen and (max-width: 875px) {
            width: 100%;
            padding: 0 1rem;
        }

        @media screen and (max-width: 500px) {
            margin-bottom: 0;
        }

        // p{
        //     // display: inline-block;
        //     // background-color: var(--color-primary-light-2);
        // }

        &_filter{
           background-color: var(--color-primary-light-2); 
           padding: .3rem 1rem;
           position: relative;

           .searched-term{
            // font-style: italic;
            // font-weight: 600;
            text-transform: uppercase;
           }

           @media screen and (max-width: 500px) {
                width: 100%;
                // margin: auto;
                margin-bottom: 0rem;
                margin-top: 2rem;
                padding: 1rem;
            }
        }

        &_posts{
            width: 100%;

            @media screen and (max-width: 500px) {
                width: 100%;
                margin: 2rem auto;
            }
        
        }

        &_pages{
            font-weight: bold;
            margin-right: 2rem,
        }

        &_visible-posts-count{
            font-weight: bold;
        }

        .blog-filter{
            position: absolute;
            right: -5rem;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid rgba(0,0,0, 0.1);
            padding: .5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            @include flex-row-center;
            background-color: var(--color-akzent);
            cursor: pointer;
            display: none;

            @media screen and (max-width: 1125px) {
                display: flex;
            }

            @media screen and (max-width: 500px) {
                // right: 0;
                // top: -2.2rem;
                // height: 100%;
                // width: 100%;
                // border-radius: 0;
                // padding: 1.3rem;

                position: fixed;
                bottom: 1rem;
                top: initial;
                right: 2rem;
                transform: initial;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                z-index: 100;
                box-shadow: 0 0 10px rgba(0,0,0, 0.25);
                // display: none;
                visibility: hidden;
                opacity: 0;
                transition: all .3s;

                &.visible-button{
                    // display: flex;
                    visibility: visible;
                    opacity: 1;
                }
            }
            

            img{
                width: 1.3rem;
                opacity: 0.7;
            }
        }
    }

    // POSTS CARDS CONTAINER
    &_post-cards-container{
        // border: 3px solid tomato;
        width: 60%;
        margin: 0 auto 3rem;

        @media screen and (max-width: 1125px) {
            width: 80%;
        }

        @media screen and (max-width: 500px) {
            width: 93%;
        }

        // WHOLE POST CARD
        &_card-link{
            // border: 1px dashed black;
            margin: 3rem 0;
            display: block;
            box-shadow: 0 0 20px rgba(0,0,0, 0.1);
            border-radius: 1rem;
            overflow: hidden;
            transition: box-shadow .3s;
            transition-timing-function: ease-in-out;

            &:hover{
                box-shadow: 0 0 20px rgba(0,0,0, 0.3);
            }
        }

        &_archive-card{

            header{
                background: rgba(0,0,0, 0.02);
                // background: rgba(188, 228, 251, 0.1);
                padding: 1rem;
                padding-bottom: 0;
            }

            .page-card{
                &_title{
                    font-size: 1.5rem;
                }

                &_meta{
                   margin: 0.3rem; 

                   &.hashtags{
                        background: rgba(0,0,0, 0.02);
                        // background: rgba(188, 228, 251, 0.1);
                        padding: 1rem 2rem;
                        width: calc(100% + 2rem);
                        margin-left: -1rem;
                        margin-top: .7rem;
                        margin-bottom: 0;
                   }
                }

                &_preview{
                    figure{
                        padding: 0;
                        margin: 0;
                    }
                }
               

                &_excerpt{
                    padding: 1rem;
                }
            }
        }

        img{
            // display: none;
            width: 100%;
        }

        // PAGINATION
        &_pagination-container{
            // border: 2px solid pink;
            @include flex-variable(row, wrap, space-between, center);

            // .aimless-link{
            //     opacity: 0.2;
            //     cursor: default;
            // }

            .last-pagination-elem{
                background: rgba(0,0,0, 0.8);
                padding: 0.5rem;
                color: white;
            }
        }

    }

    // SIDEBAR
    &_sidebar{
        // border: 3px solid blue;
        width: 20rem;
        // padding: 1rem;
        border-radius: 2rem 0 0 2rem;
        background: var(--color-primary-light-2);

        .sidebar-close{
            display: none;
        }


        @media screen and (max-width: 1125px) {
            position: fixed;
            z-index: 200;
            border-radius: 0;
            width: 100%;
            top: 0;
            right: 0;
            overflow: auto;
            height: 100%;
            display: none;

            a{
                text-align: center;
            }

            .sidebar-close{
                display: block;
                width: 3rem;
                margin: 2rem auto;
                cursor: pointer;
            }

            &.visible-sidebar{
                display: block;
            }
        }

        a.all-posts{
            background: #fff;
            display: block;
            background: var(--color-primary-light-2);
            margin-top: 2rem;
            margin-left: 1rem;
            font-weight: bold;

            @media screen and (max-width: 1125px) {
                font-size: 1.2rem;
                margin: 3rem auto;

                &:hover{
                    padding-right: 0rem;
                    transition: none;
                }
            }


            span{
                border-bottom: 1px solid black;
                padding-bottom: .3rem;

                &:hover{
                    padding-right: 4rem;
                    border-color: #1E8BC3 ;
                    transition: padding .5s;

                    @media screen and (max-width: 1125px){
                        padding-right: 0rem;
                        transition: none;
                    }
                }
            }
   
        }

        a:not(.all-posts){
            padding: 0.3rem;
            margin-bottom: 0.1rem;
            display: block;
            width: fit-content;
            border-bottom: 1px solid black;
        }

        a:hover{
            color: #1E8BC3;
            padding-right: 4rem;
            border-color: #1E8BC3 ;
            transition: padding .5s;
            // font-weight: bold;

            @media screen and (max-width: 1125px){
                padding-right: 0.3rem;
                transition: none;
            }
        }

        figure{
            margin: 2rem 0;

            figcaption{
                background: rgba(255,255,255, 0.5);
                width: 88%;
                display: block;
                padding: 0.3rem 1rem;
                border-radius: 0 2rem 2rem 0;

                @media screen and (max-width: 1125px) {
                    // width: 100%;
                    border-radius: 0;
                    text-align: center;

                    padding: 1rem;
                    font-size: 1.1rem;
                    box-shadow: 0 0 15px rgba(0,0,0, 0.1);

                    width: 25rem;
                    display: block;
                    margin: auto;
                }

                @media screen and (max-width: 450px) {
                        width: 100%;
                }
            }
        }

        ul{
            padding-left: 1rem;

            li {
                @media screen and (max-width: 1125px) {
                    margin-bottom: 1rem;

                    a{
                        margin: auto;
                        
                    }
                    
                } 
            }
        }
    }
}



// --------------------------
// ### SINGLE ###
// --------------------------

.single{

    // NAV
    &-nav{
        height: 5rem;
        width: 100%;
        position: absolute;
        top: 0;
        box-shadow: 1px 3px 6px rgba(0,0,0,.3);
        @include flex-variable(row, wrap, space-between, center);
        padding: 1rem;

        img{
            width: 2.5rem;
            // filter: drop-shadow(0px 2px 1px rgba(0,0,0, 0.3));
            transition: all .3s;

            &:hover{
                // filter: drop-shadow(0px 2px 1px rgba(0,0,0, 0.8));
                transform: scale(1.05);
            }
        }

        &-links{
            padding: 1rem;

            a{
                margin-left: 1rem;
                // text-decoration: underline;
                color: var(--color-akzent-3);
                border-bottom: 1px solid var(--color-akzent-3);
                transition: all .3s;

                &:hover{
                    padding-right: 1rem;
                    padding-left: 1rem;
                }
            }
        }
    }

    // HEADER
    &-header{
        @include flex-variable(row, wrap, space-between, center);
        box-shadow: 0 2px 5px rgba(0,0,0, 0.5) inset;

        @media screen and (max-width: 950px) {
            flex-direction: column;
        }

        img{
            width: 50%;
            height: 90svh;
            object-fit: cover;
            object-position: top;

            @media screen and (max-width: 950px) {
               width: 100%;
               order: 2;
            }
        }

        h1{
            width: 50%;
            text-align: center;
            text-transform: uppercase;

            @media screen and (max-width: 950px) {
                width: 100%;
                order: 1;
                padding: 2rem;
             }
        }
    }

    // MAIN
    &-main{
        max-width: 1000px;
        margin: auto;

        p{
            max-width: 750px;
            margin: auto;
            margin-bottom: 2rem;
        }

        h1,h2,h3,h4,h5{
            margin: 2rem auto;
            /* color: #D0EFB1; */
            background: #D0EFB1;
            padding:  1rem;
            // color: white;
            display: inline-block;
            padding-right: 5rem;
            // transform: perspective(1000px) rotateY(5deg);
        }
    }
}


// --------------------------
// ### AIMLESS LINK ###
// --------------------------

.aimless-link{
    opacity: 0.2;
    cursor: default;
}


