@import '../core/resets';
@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../core/font';
@import '../core/scrollbar';


// ---------------------------------------------------
// ### COMMON ###
// --------------------------------------------------

// html{
//     scroll-behavior: smooth;
// }

body,
a{
    @include font-main();
}

body{
    overflow-x: hidden;
    padding-top: 5rem;
}

.big-container{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    line-height: 120%;
}

p, span, li, a{
    line-height: 150%;
    font-size: 1.1rem;
}

//
// 'HEADER'
//

.header{
    height: 5rem;
    background-color: var(--color-secondary);
    @include box-shadow-default(rgba(0, 0, 0, 0.3));
    // overflow: hidden;
    @include flex-variable(row, wrap, space-evenly, center);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: top .3s;

    @media screen and (max-width: 1350px){
        justify-content: space-between;
    }

  
    &_logo{
        width: 3rem;
        flex-shrink: 1;
        margin-left: 1rem;
    }

    &_nav{
        flex-grow: 1;
        height: 100%;

        @media screen and (max-width: 1350px) {
            display: none;
        }
    }


    // 'NAV UL'
    &_link-list{
        @include flex-variable(row, wrap, space-evenly, center);
        // @include testing-border-1();
        height: 100%;
        margin: 0;

        @media screen and (max-width: 1350px) { 
            // @include testing-border-1();
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0; 
            background-color: var(--color-secondary);
            @include flex-variable(row, wrap, flex-start, center);
            align-content: flex-start;
            padding-top: 10rem;
            overflow-y: scroll;
            gap: 1rem;
            z-index: 10;

            &::-webkit-scrollbar{
                display: none;
            }
        }

        & > li{
            // @include testing-border-2();
            height: 100%;
            margin: 0 1rem;
            @include flex-row-center();
            // background-color: tomato;
            position: relative;
            transition: all .3s;
           
            & > a:hover{
                font-weight: bold;
                // color: $color-akzent;
            }

            @media screen and(max-width: 1350px) {
                width: 100%;
                height: initial;
                min-height: 3rem;
                // background-color: $color-secondary-variant;
                // display: block;
                @include flex-variable(row, wrap, flex-start, center);
                padding-left: 2rem;
                // border: 1px solid $color-secondary-variant; 

                &:hover{
                     background-color: var(--color-secondary-variant-2);
                }
            }

        }

        // 'LIST ELEMENTS WITH A SUBMENU / MEGA MENU'
        &_mega-menu-opener,
        &_sub-menu-opener{
            position: relative;

            @media screen and(max-width: 1350px) {
               padding: .5rem;
            //    @include testing-border-1();
            }

            // @media screen and(max-width: 1350px) {
            //     padding-top: 1rem;
            // }

            &::after{
                // content: '';
                // background: url('../../../../graphics/icons_n_co/add.png') center center / cover no-repeat;
                content: attr(data-sign);
                font-size: 1.5rem;
                font-weight: bold;
                width: 1rem;
                height: 1rem;
                // position: absolute;
                // right: 1rem;
                position: absolute;
                right: 1rem;
                // top: calc(1.5rem - .4rem);
                top: 0.7rem;
                opacity: .7;
                display: none;

                @media screen and(max-width: 1350px) {
                    display: block;
                }
            }
        }

        &_mega-menu-opener:hover span{
            font-weight: bold;
            cursor: default;

            @media screen and(max-width: 1350px) {
                cursor: pointer;
             }
        }

        // &_mega-menu-opener:hover .header_mega-menu{
        //     display: flex;
           
            
        //     // @media screen and(max-width: 1350px) {
        //     //     display: none;
        //     // }
        // }


        &_sub-menu-opener:hover > a{
           font-weight: bold;
        }

        // &_sub-menu-opener:hover .header_sub-menu{
        //     display: flex;
        // }

    }

    // 'LIST POINT THAT IS NO LINK (it's a span), LINKS, BUTTONS IN THE NAV
    &_menu-hint,
    a,
    button{
        font-size: 1rem;
        cursor: pointer;
    }

    .button-li{
        position: initial;
        height: 0;
        min-height: 0;
        border: none;
    }

    &_menu-hint{
        @media screen and(max-width: 1350px) {
            width: 100%;
        }
    }


    // &_menu-hint {
    //     &:hover + .header_mega-menu{
    //         display: flex;
    //     }

    // } 


    // 'MEGA MENU'
    &_mega-menu{
        position: absolute;
        top: 5rem;
        left: 0;

        @include flex-variable(row, nowrap, space-evenly, stretch);
        @include box-shadow-default(rgba(0, 0, 0, 0.3));
        display: none; 
        // border-top: 1px solid transparent;
        background-color: var(--color-secondary);

        @media screen and(max-width: 1350px) {
            position: relative;
            @include flex-variable(column, nowrap, flex-start, center);
            top: 0;
            left: 0;
            margin-top: 1rem;
            box-shadow: none;
            width: 100%;
            background-color: transparent;

            display: none; 
        }

        // 'LIST POINT OF MEGA MENU'
        &_list-point{
            width: 17rem;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            @include flex-variable(column, nowrap, flex-start, center);
            padding-bottom: 2rem;

            @media screen and(max-width: 1350px) {
                width: 100%;
                border: none;
            }
            

            &:last-of-type{
                border: none;
            }
        }

        // 'HEADING OF THE MEGA MENU LIST POINT'
        &_sub-heading{
            // @include testing-border-3();
            width: 100%;
            padding: .5rem;
            text-align: center;
            margin-bottom: 1rem;
            background: var(--color-secondary-variant);
            position: relative;
            // z-index: -1;
            cursor: pointer;

            @media screen and(max-width: 1350px) {
                text-align: left;
                padding-left: 2rem;
                // background-color: transparent;
            }
                
            &:hover{
                background-color: var(--color-primary-light-1);
            }
           
        }

        // 'THE SUB MENU OF THE MEGA MENU'
        &_list{
            li{
                // margin-bottom: .5em;
                padding: .5rem;

                &:hover{
                    background-color: var(--color-primary-light-1);
                }
            }
        }

        // 'THE SUB MENU OF THE MEGA MENU SUB MENU'
        &_sub-list{
            margin-left: 1rem;
        }
        
    }

    // 'NORMAL SUBMENU'
    &_sub-menu{
        @include flex-variable(column, nowrap, flex-start, stretch);
        display: none;
        position: absolute;
        top: 5rem;
        left: 0;
        @include box-shadow-default(rgba(0, 0, 0, 0.2));
        background-color: var(--color-secondary);
        padding: 0.5rem;

        @media screen and(max-width: 1350px) {
            position: relative;
            @include flex-variable(column, nowrap, flex-start, flex-start);
            top: 0;
            left: 2rem;
            margin-top: 1rem;
            box-shadow: none;
            width: 100%;
            background-color: transparent;
           
              display: none;
        }

        li{
            padding: .5rem;
            width: 17rem;
            
            @media screen and (max-width: 1350px) {
                overflow-x: hidden;
            }

            &:hover{
                background-color: var(--color-primary-light-1);
            }
        }

        // 'LIST POINT WITH A SUB SUB MENU'
        &_sub-sub-opener{
            position: relative;

            &:hover .header_sub-menu_sub-menu{
                display: block;
            }
        }

        // 'THE SUB SUB MENU'
        &_sub-menu{
            // margin-left: 1rem;
            position: absolute;
            top: 0rem;
            left: 17rem;
            // width: inherit;
            @include box-shadow-default(rgba(0, 0, 0, 0.2));
            display: none;
            background-color: var(--color-secondary);
            padding: 0.5rem;

            &.on-top{
                top: -0.5rem;
            }

            @media screen and (max-width: 1350px) {
                box-shadow: unset;
                display: block;
                position: relative;
                left: 1rem;
                background-color: transparent;
            }
        }
    }
}


//
// 'BUTTONS'
//

// HAMBURGER

.hamburger{

    &_button{
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        // @include testing-border-1();
        position: absolute;
        top: 1rem;
        right: 2rem;
        @include flex-variable(column, nowrap, space-evenly, center);
        display: none;

        @media screen and(max-width: 1350px) {
            display: flex;
            z-index: 10;
        }
    }

    &_line{
        width: 95%;
        height: .2rem;
        background-color: var(--color-on-secondary);
        border-radius: 50%;
        transition: transform .3s;
    }

}


// DIVERSE BUTTONS

.button{
    &_e-medikation,
    &_online-terminkalender{
        padding: .5rem 1.5rem;
        // @include testing-border-2();
        margin: 0rem;
        @include font-main();
        @include color-set-akzent();
        border-radius: .5rem;
        @include box-shadow-alternate();

        @media screen and(max-width: 1350px) {
            position: absolute;
            top: 1rem;
        }
    }

    &_e-medikation{
        left: 1rem;
    }

    &_online-terminkalender{
        left: 15rem;

        @media screen and(max-width: 600px) {
            top: 5rem;
            left: 1rem;
        }
    }
}



//
// 'FOOTER'
//

.footer{
    // @include testing-border-1();
    @include flex-variable(row, wrap, flex-start, stretch);
    border-top: 1px solid var(--color-on-secondary-light);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;

    section{
        // @include testing-border-2();
        width: 33%;
        @include flex-variable(column, nowrap, flex-start, center);
        padding-bottom: 3rem;
        // padding-top: 1rem;
        position: relative;
        
        @media screen and (max-width: 1000px) {
            width: 100%;
            padding-bottom: 2rem;
            @include flex-variable(row, wrap, flex-start, flex-start);
            padding: 0 1rem 3rem;
        }
    }

    section:not(:last-of-type){
        border-right: 1px solid var(--color-on-secondary-light);
        
        @media screen and (max-width: 1000px) {
            border-right: none;
            border-bottom: 1px solid var(--color-on-secondary-light);
        }
    }

    h2{
        // @include testing-border-1();
        font-size: 1.3rem;
        margin-bottom: 0;
        // position: absolute;
        // top: .5rem;

        @media screen and (max-width: 1000px) {
         text-align: left;
         width: 100%;
         margin-bottom: 2rem;
         background-color: var(--color-secondary-variant);
         padding: .5rem;
        }
    }

    h3{
        font-size: 1.1rem;
    }


    // 'OPEN TIMES'
    &_open-times{
        // @include flex-variable(column, nowrap, flex-start, center);
        padding: 0 1rem;

        .weekday-container{
            // @include testing-border-2();
            @include flex-variable(row, wrap, space-between, center);
        //    margin: 0 auto;
        //    width: 95%;
            width: 45%;
            margin: 0 auto;

            @media screen and (max-width: 1440px) {
                width: 60%;
            }

            @media screen and (max-width: 1440px) {
                width: 75%;
            }

            @media screen and (max-width: 1000px) {
                margin: 0;
               }

            p{
            margin: 0;

            &::after{
                content: ' :';
            }
           }
        }

        &_ordination{
            // @include testing-border-3();
            width: 100%;

            @media screen and (max-width: 1000px) {
                
                width: 50%;
               }

            @media screen and(max-width: 570px) {
                width: 100%;
            
            }
        }

        &_covid{
            width: 100%;
            margin-top: 2rem;

            @media screen and (max-width: 1000px) {
                width: 50%;
                margin: 0;
            }

            @media screen and(max-width: 570px) {
                width: 100%;
                margin-top: 2rem;
            }
        }
        
    }


    // 'CONTACT'
    &_contact{
        // justify-content: space-between !important;

        @media screen and (max-width: 1000px) {
            h2.hidden{
                display: block;
            }
         }

        .google-maps{
            all: initial;
            width: 95%;
            margin-top: 2rem;
            // display: none;

            @media screen and (max-width: 1000px) {
                // @include testing-border-2();
               width: 50%;
               height: 12rem;
            }

            @media screen and(max-width: 570px) {
                width: 100%;
            }
        }

        adress{
            // @include testing-border-2();
            // width: 100%;
            @include flex-variable(column, nowrap, flex-start, stretch);

            @media screen and (max-width: 1000px) {
                // width: 50%;
                // height: 100%;
                @include flex-variable(column, nowrap, flex-start, stretch);
                margin-left: 2rem;
             }

             @media screen and(max-width: 570px) {
                // width: 100%;
                margin: 2rem auto 0;
            }
        }

        &_adress{
            // @include testing-border-3();
            @include flex-variable(column, nowrap, flex-start, flex-start);
            margin-top: 2rem;
            // width: 70%;
            margin-bottom: 1rem;

            strong:first-of-type{
                font-size: 1.1rem;
            }

            strong:nth-of-type(2){
                margin-bottom: .5rem;
            }

            p{
                margin: 0;
            }
        }

        &_telephone{
            // width: 70%;

            p{
                display: inline-block;
                margin: 0;
            }
        }
    }

    //'IMPORTANT PAGES'
    &_important-pages{
        h2{
            margin-bottom: 2rem;
        }

        ul li{
            margin-bottom: .5rem;
        }

        a:hover{
            font-weight: bold;
        }

        @media screen and (max-width: 1000px) {
            ul{
                @include flex-variable(row, wrap, space-evenly,center);
                gap: 2rem;
                padding: 0 1rem;
            }
        }
    }
}


//
// 'TOGGLE CLASSES'
//

// 'HAMBURGER BUTTON ACTIVE'

.hamburger-active{
    position: fixed;
    
    span{
        background-color: tomato;

        &:nth-of-type(1){
            transform: rotate(45deg) translateX(.4rem);
        }
        
        &:nth-of-type(2){
            display: none;
        }

        &:nth-of-type(3){
            transform: rotate(-45deg) translateX(.2rem);
        }
    }
}

.nav-in{
    display: block;
}


// 'SUB MENU OPENER ON HOVER'
.open{

    &_mega-menu{

        &:hover .header_mega-menu{
            display: flex;
        }
    }

    &_sub-menu{
        &:hover .header_sub-menu{
            display: flex;
        }
    }
}


// 'ELEMENTS COME IN'
.element-in{
    display: flex; 
}