// @import '../core/resets';
// @import '../abstracts/variables';
// @import '../abstracts/mixins';
// @import '../core/font';
@import './common.scss';
@import '../core/common-keyframes';


// ---------------------------------------------------
// ### HOME ###
// --------------------------------------------------

.startpage{

   
    // 
    // INTRO
    //
    &_intro{
        &_picture{
            // @include background-image('../graphics/pics/dr-windblade.webp');
            background: url(../graphics/pics/girl.webp) center center / cover no-repeat;
            height: calc(55vh);
            position: relative;

            @media screen and (max-width: 1500px) {
                background: url(../graphics/pics/girl-1500.webp) center center / cover no-repeat;
            }

            @media screen and (max-width: 750px) {
                background: url(../graphics/pics/girl-750.webp) center center / cover no-repeat;
            }

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        &_heading-container{
            @include flex-column-center();
            flex-wrap: nowrap;
            height: calc(45vh - 5rem);
            padding-bottom: 3rem;

            h2{
                @include font-handwriting();
                color: var(--color-primary);
                font-size: 4rem;
                margin-bottom: .4rem;
                line-height: 4rem;
                position: relative;

                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-secondary);
                    position: absolute;
                    right: 0;
                    animation: remove-width 1.5s  forwards ease-in-out;
                }

                
                @media screen and(max-width: 570px) {
                    font-size: 3rem;
                }

            }

            p{
                @include font-personal();
                font-size: 1.5rem;
                margin-top: 0;

                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-secondary);
                    position: absolute;
                    right: 0;
                    animation: remove-width 4s .3s forwards linear;

                    @media screen and (max-width: 600px) {
                        animation: remove-width 3s 1s forwards linear;
                    }
                }
            }
        }
    }

    // 
    // LEISTUNGEN
    //
    &_leistungen{
        position: relative;

        background: rgb(208,239,177);
        background: linear-gradient(188deg, rgba(208,239,177,1) 0%, rgba(255,255,255,1) 100%);

        &::before,
        &::after{
            content: '';
            width: 80%;
            height: 2rem;
            background-color: var(--color-primary);
            position: absolute;
            top: -2rem;
            opacity: 0.7;
            transition: all 1s;
        }


        // 'HEADER'
        header{
            @include flex-column-center();
            width: 100%;
            
            padding: 2rem;
            margin-top: 5rem;
            margin-bottom: 5rem;

            @media screen and (max-width: 1000px) {
                margin-bottom: 2rem;
            }

            @media screen and(max-width: 550px) {
                margin-bottom: 0;
            }

            img{
                width: 8rem;
                margin-top: 2rem;
            }

            h2{
                @include font-heading-1();
                font-size: 1.5rem;
                opacity: 0;
                display: none;
            }
        }

        &_card-container{
            @include flex-variable(row, wrap, space-between, center);
            width: 70vw;
            margin: 0 auto;

            @media screen and (max-width: 1184px) {
                width: 40rem;
            }

            @media screen and (max-width: 693px) {
                width: 95vw;
            }

        }

         // 'CARDS'
         &_card{
            @include box-shadow-soft(rgba(0,0,0,0.3));
            width: 35rem;
            height: 35rem;
            margin: 2rem;

            background: rgb(232,247,216);
            background: linear-gradient(188deg, rgba(232,247,216,1) 0%, rgba(255,255,255,1) 100%);

            border-radius: 1rem;
            overflow: hidden;
            @include flex-variable(column, nowrap, flex-start, center);
            position: relative;

            border: 1px solid rgba(0,0,0, 0.2);

            @media screen and (min-width: 1550px){
                flex-grow: 1;
            }


            @media screen and (max-width: 1387px) {
                width: 47%;
                margin: 1rem;
            }

            @media screen and (max-width: 1184px) {
                align-content: flex-start;

                width: 100%;
                margin: 2rem auto;
                border-radius: 0;
            }

            &_header{
                width: 100%;
                margin-bottom: 2rem;

                @media screen and (max-width: 1184px) {
                   flex-shrink: 0;
                   margin-top: 0;
                   position: relative;
                }

                picture{
                    width: 100%;
                    height: 12rem;
                    display: block;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                h3{
                    background-color: var(--color-secondary);
                    margin: 0;
                    padding: 1.5rem;
                    text-align: center;
                    @include font-heading-1();
                    @include box-shadow-default(rgba(0,0,0,0.2));
                    font-size: 1.5rem;
                    border: solid rgba(0, 0, 0, 0.3);
                    border-width: 1px 0;
                    background: rgba(255,255,255, 1);
                }
            }

            &_list{
                margin-bottom: 2rem;
                padding: 0;
                font-weight: bold;

                li{
                    margin-bottom: .5rem;
                    position: relative;

                    &::before{
                        // @include testing-border-1();
                        content: '';
                        width: 1.2rem;
                        height: 1.2rem;
                        background: url(../graphics/icons_n_co/healthcare-and-medical.png) center center / cover no-repeat;
                        position: absolute;
                        top: .2rem;
                        left: -2.5rem;
                        opacity: .8;
                    }

                    &:last-of-type{
                        margin-top: 1.5rem;
                        
                        &::before{
                            display: none;
                        }
                    }
                }
            }

            &_button{
                background-color: var(--color-akzent);
                width: 15rem;
                text-align: center;
                padding: .5rem;
                @include font-main();
                @include box-shadow-default(rgba(0, 0, 0, 0.2));
                position: absolute;
                bottom: 1.5rem;
                color: var(--color-on-akzent);
                transform-style: preserve-3d;
                // transition: all .1s;
                display: block;
                font-weight: bold;
                transition: all .3s ease-in-out;

                &::before{
                    content: '';
                    width: 120%;
                    height: 150%;
                    background-color: #fff;
                    position: absolute;
                    top: -25%;
                    left: -10%;
                    opacity: .5;
                    border-radius: 0 1rem;
                    transform: translateZ(-1px);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    opacity: 0;
                    transition: all .3s ease-in-out;
                }

                &:hover{
                    transform: scale(1.04);
                    @include box-shadow-default(rgba(0, 0, 0, 0.4));

                    &::before{
                        opacity: 1;
                    }
                }
            }

       
         }

         // 'BIG CARDS'
         &_card.big-card{
            width: 100%;
            height: 23.5rem;
            @include flex-variable(row, nowrap, space-between, center);
            overflow: visible;
            margin-bottom: 4rem;

            @media screen and (max-width: 1184px) {
                @include flex-variable(column, nowrap, flex-start, center);
                height: auto;
                border-radius: 1rem;
                overflow: hidden;
            }

            @media screen and (max-width: 1000px) {
                margin-bottom: 2rem;
            }

            &#card-more{
                & a{
                    position: relative;
                    margin: 1rem;
                    top: 0;
                }
            }

            & picture{
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                margin: auto 2rem;
                overflow: hidden;

                @media screen and (max-width: 1184px) {
                    width: 100%;
                    border-radius: 0;
                    margin: 0;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .big-card_card-container{
                width: 35rem;
                height: 100%;
                @include flex-variable(column, nowrap, center, center);
                position: relative;
                flex-grow: 1;

                @media screen and (max-width: 1387px) {
                    width: 47%;
                }

                @media screen and (max-width: 1184px) {
                    width: 100%;
                }
            }

            & h3{
                position: absolute;
                right: 0;
                width: 100%;
                top: -1rem;
            }

            ul{
                @media screen and (max-width: 1184px) {
                    margin: 5rem auto 7rem;
                }
            }

        }

         

        &_bottom{
            height: 4rem;
            margin-top: 2rem;
            position: relative;

            &::before,
            &::after{
                content: '';
                width: 80%;
                height: .5rem;
                background-color: var(--color-secondary);
                position: absolute;
                border-radius: 0 1rem 1rem 0;
            }

            &::before{
                top: 1rem;
                left: 0;
            }

            &::after{
                bottom: 1rem;
                right: 0;
            }
        }

    }


}


//
// 'CARDS ID' (4 js)
//

#card-aesthetic,
#card-more,
#card-kassen,
#card-wahlarzt{
    transform: perspective(1000px) rotateX(25deg);
    transition: all .3s linear;
    opacity: 0.2;

    @media screen and (orientation: portrait) {
        transform: scale(0.9);
        opacity: 0.2;
        transition: all .3s linear;
    }
}


//
// 'TOGGLE CLASSES'
//

.perspective-off{
    transform: perspective(1000px) rotateY(0) translateX(0) !important;
    opacity: 1 !important;

    @media screen and (orientation: portrait) {
        opacity: 1 !important;
    }
}

.clippy-off{

    &::before{
        left: 0;
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    &::after{
        right: 0;
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.clippy-on{

    &::before{
        left: 0;
        clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0% 100%);
    }

    &::after{
        right: 0;
        clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.picture-cut{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
