@import './common.scss';

.news{
    padding-bottom: 5rem;

    &_header{
        img{
            width: 100%;
            height: 75vh;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width: 1000px) {
                height: 74svh;
            }
        }

        h2{
            height: 15vh;
            background-color: var(--color-secondary);
            box-shadow: 1px 3px 6px rgba(0,0,0,.2);
            margin: -1rem auto 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-family: "Spectral SC",serif;
            font-display: block;
            font-weight: bold;
            font-size: 2rem;

            @media screen and (max-width: 1000px) {
                height: 17svh;
            }
        }
    }

    &_article-container{
        padding: 1rem;
    }

    &_article{
        @include flex-variable(row, wrap, space-evenly, center);
        // border-left: 3px solid #D0EFB1;
        width: 60rem;
        margin: auto;
        margin-bottom: 12rem;
        border-radius: 1rem;
        position: relative;

        @media screen and (max-width: 1000px) {
            width: 100%;
            margin-bottom: 10rem;
        }

        @media screen and (max-width: 600px) {
            margin-bottom: 3rem;
         }

        &::after{
            content: '';
            width: 8rem;
            height: 8rem;
            background: url(../graphics/icons_n_co/division-2.svg) center center / contain no-repeat;
            position: absolute;
            bottom: -8rem;
            left: calc(50% - 4rem);
            display: block;

            @media screen and (max-width: 600px) {
               display: none;
            }
        }

        &_header{
            width: 100%;
            @include flex-variable(row, wrap, flex-start, center);

            .time{
                margin-right: 3rem;
                font-size: 1.2rem;
                font-weight: bold;
                background: #D0EFB1;
                padding: 1rem;
                padding-right: 5rem;
                // box-shadow: 0px 4px 6px rgba(0,0,0, 0.25);

                @media screen and (max-width: 600px) {
                    margin-right: 0;
                    padding-right: 0;
                    width: 100%;
                    text-align: center;
                }
            }

            h2{
                width: 100%;
                padding-left: 2rem;
                font-family: "Allison",cursive;
                font-weight: 400;
                font-size: 2.3rem;

                @media screen and (max-width: 600px) {
                    padding-left: 0rem;
                    text-align: center;
                    line-height: 125%;
                }
            }
        }

        &_content{
            width: 50rem;
            padding: 2rem;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }

            @media screen and (max-width: 600px) {
                padding: 1rem;

                // h1,h,h3,h4,h5,h6{
                //     text-align: center;
                // }
            }

            @media screen and (max-width: 400px) {
               padding: 0.5rem;
            }

            img{
                width: 100%
            }
        }
    }
}