@import './common.scss';

.services{
    // HEADER
    &_heading{
        @include flex-row-center;
        height: 20vh;

        h1{
            @include font-heading-1;
            @media screen and (max-width: 380px) {
                font-size: 1.6rem;
            }
        }
    }

    // REITER
    &_reiter{
        border-top: 10px rgba(0, 0, 0, 0.1) double;

        @media screen and (max-width: 1350px) {
            display: none;
        }

        &_list{
            @include flex-variable(row, wrap, flex-start, center);
            margin: 0;
            @include box-shadow-default(rgba(0, 0, 0, 0.3));

            li{
                padding: 0.8rem;
                margin-right: .5rem;

                a{
                    padding: 0.8rem;

                    &:hover,
                    &:focus,
                    &:active{
                        font-weight: bold;
                        background-color: var(--color-primary);
                    }

                }

                a.clicked{
                    background-color: var(--color-primary);
                }
               
            }
        }
    }

    // SERVICE
    &_service{
        display: none;

        @media screen and (max-width: 1350px) {
            display: block;
        }

        &:target{
            display: block;

            figure{
                display: block;
            }
        }

        figure{
            padding: 0;
            margin: 0;
            display: none;
        }

        .outer-heading{
            display: none;
            font-weight: normal;
            font-size: 1.2rem;

            @media screen and (max-width: 1350px) {
                display: block;
                padding: .5rem;
                margin: 0;
                cursor: pointer;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            }

            &.active{
                background-color: var(--color-primary-light-1);
            }
        }

        &_content{
            overflow: hidden;

            @media screen and (max-width: 1350px){
                display: none;
            }
        }

        &_content.active{
            display: block; 

            figure{
                display: block;
            }
        }

        img{
            width: 100%;
            opacity: 1;
        }

        &_text{
            padding: 1rem;
            width: 80%;
            max-width: 850px;
            margin: 0 auto;
            padding-bottom: 3rem;

            @media screen and (max-width: 600px){
                padding: .2rem;
                width: 90%;
            }


            p:first-of-type{
                padding: 1rem 2rem;
                margin: 3rem auto;
                background: rgba(0,0,0,0.02);

                @media screen and (max-width: 600px){
                    margin: 1rem auto;
                }

                &::first-line{
                    font-weight: bold;
                }
            }

            h2{
                background: var(--color-primary);
            }


            h2, h3{
                margin-left: -1rem;
                
                padding: 0.5rem 4rem 0.5rem 1rem;
                display: inline-block;

                @media screen and (max-width: 1350px){
                   background: none;
                   padding: 0;
                }

                @media screen and (max-width: 600px){
                   margin-left: -.5rem;
                }
            }

            ul li{
                position: relative;
                padding-left: 2rem;

                &::before{
                    content: '\2192';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.3rem;
                    opacity: .3;
                }
            }
        }
    }
}