@import './common.scss';

.team{
    &_header{
        height: calc(100svh - 5rem);
        // border: 1px solid black;
        @include flex-row-center;

        .left-side,
        .right-side{
            // border: 1px dashed green;
            height: 100%;
            width: 50%;
        }

        .left-side{
            @include flex-row-center;

            img{
                width: 20rem;
                // margin: 1rem;

                &:first-of-type{
                    transform: rotate(-5deg) translate(3rem);
                }
            }
        }

        .right-side{
            // border: 1px dashed pink;
            @include flex-column-center;

            h1{
                @include font-heading-1;
               
            }

            img{
                width: 30rem;
                // margin-top: 8rem;
                transform: translateY(5rem)
            }
        }
    }

    &_members{
        @include flex-variable(row, wrap, space-between, center);
        padding: 2rem;
        margin-top: 5rem;
        padding-bottom: 7rem;

        img{
            width: 40%;
            // border: 5px solid black;
        }

        &_member-container{
            // border: 1px solid black;
            width: 45%;
            @include flex-variable(row, wrap, space-evenly, center);
            margin-bottom: 7rem;

            &:nth-of-type(2),
            &:nth-of-type(4){
                .text{
                    order: -1;
                }
            }

            &:nth-of-type(1){
                transform: translate(2rem, 0rem);
            }

            &:nth-of-type(2){
                transform: translate(-3rem, 5rem);
            }

            &:nth-of-type(3){
                transform: translate(4rem, -1rem);
            }

            &:nth-of-type(4){
                transform: translate(-5rem, 5rem);
            }

            .text{
                // border: 1px solid black;

                ul{
                    list-style: disc;
                    padding-left: 20px;
                }
            }
        }
    }
}