// -------------------------------------------------
// ### FONTS ###
// -------------------------------------------------


//
// 'IMPORTS / @FONT_FACE'
//


// NUNITO
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

// HANDWRITING
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

// PERSONAL
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

// HEADING
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

//
// 'USE'
// 

@mixin font-heading-1{
    font-family: 'Spectral SC', serif;
    font-weight: 400;
}

@mixin font-main{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
}

@mixin font-handwriting{
    font-family: 'Allison', cursive;
    font-weight: 400; 
}

@mixin font-personal{
    font-family: 'Grape Nuts', cursive;
    font-weight: 400;
}



// -----------------------
// COMMON FONT STYLES
// -----------------------


