// ************************
// VIEWPORT ANIMATIONS
// ************************


// ::::::::::::::::::::::
// CUSTOM PROPERTIES
// ::::::::::::::::::::::

@property --percent-tcg-1{
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --percent-tcg-2{
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%;
}


// :::::::::::::::::::::::::::
// VIEWPORT ANIMATION ELEMENTS
// :::::::::::::::::::::::::::

.animation-element{

    --animation-duration: .3s;
    --animation-delay: 0s;
    --animation-timing: ease-in-out;

    &.opacity-in,
    &.flipping-headline,
    &.clippy-from-left-to-right,
    &.fade-up{
        transition: all var(--animation-duration) var(--animation-delay) var(--animation-timing);
    }

   
    &.the-circle-grows{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
            z-index: 2;
            // animation: the-circle-grows 1s forwards ease-in-out;
        }

        &.in-right-place{
        
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
                // background: white;
                z-index: 2;
                animation: the-circle-grows var(--animation-duration) var(--animation-delay) forwards var(--animation-timing);
            }
        }    
    }

    &.the-circle-grows-silent{
        position: relative;
         opacity: 0;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
            z-index: 2;
           
            // animation: the-circle-grows 1s forwards ease-in-out;
        }

        &.in-right-place{
            opacity: 1;
        
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
                // background: white;
                z-index: 2;
                animation: the-circle-grows var(--animation-duration) var(--animation-delay) forwards var(--animation-timing);
            }
        }    
    }

    &.opacity-in{
        opacity: 0.2;
        
        &.in-right-place{
            opacity: 1;
        }
    }

    &.flipping-headline{
        transform: perspective(1000px) rotateX(180deg);
        color: transparent;
        transition: 
            transform var(--animation-duration) var(--animation-delay) var(--animation-timing),
            color var(--animation-duration)  var(--animation-timing);
        
        &.in-right-place{
            transform: perspective(1000px) rotateX(0deg);
            color:  var(--color-on-primary);
            transition: 
                transform var(--animation-duration)   var(--animation-timing),
                color var(--animation-duration) var(--animation-delay) var(--animation-timing);
        }
    }

    &.clippy-from-left-to-right{
        opacity: 0;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

        &.in-right-place{
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    &.fade-up{
        opacity: 0;
        transform: translateY(5rem);

        &.in-right-place{
            opacity: 1;
            transform: translateY(0);
        }
    }

}




// ::::::::::::::::::::::
// ANIMATION ELEMENTS
// ::::::::::::::::::::::


.zoom-bigger{
    animation: zoom-bigger 2s forwards;
}

.clippy-to-bottom{
    animation: clippy-to-bottom 2s forwards ease-in-out;
}

.go-brighter{
    animation: go-brighter 1s forwards linear;
}

.mikro-2-makro{
    animation: mikro-2-makro 1s forwards linear;
}


// .the-circle-grows{
//     position: relative;


//     &::before{

//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: block;
//         width: 100%;
//         height: 100%;
//         background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
//         z-index: 2;
//         animation: the-circle-grows 1s forwards ease-in-out;
//     }
// }



// ::::::::::::::::::::::
// KEYFRAMES
// ::::::::::::::::::::::


// .....
// ZOOMS
// .....

// ZOOM BIGGER
@keyframes zoom-bigger {
    from{
        transform: scale(1.0);
    }

    to{
        transform: scale(1.5); 
    }
}


// .....
// CLIPPY
// .....

// CLIPPY 2 BOTTOM
@keyframes clippy-to-bottom {
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
    }

    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }
    
}

// MIKRO 2 MAKRO
@keyframes mikro-2-makro {
    from{
        clip-path: circle(15.9% at 50% 50%);
        // opacity: 0.5;
    }

    to{
        clip-path: circle(70.7% at 50% 50%);
        // opacity: 1;
    }
}



// .....
// FILTER
// .....

// GO BRIGHTER
@keyframes go-brighter {
    from{
        filter:brightness(0.0);
    }

    to{
        filter:brightness(1);
    }
}


// .....
// GRADIENT
// .....

// THE CIRCLE GROWS
@keyframes the-circle-grows {

    80%{
        --percent-tcg-2: 100%;
    }

    100%{
        --percent-tcg-1: 100%;
        --percent-tcg-2: 100%;

    }
}

// .....
// FADES
// .....

@keyframes fade-up {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
