// ************************
// VIEWPORT ANIMATIONS
// ************************


// ::::::::::::::::::::::
// CUSTOM PROPERTIES
// ::::::::::::::::::::::

@property --percent-tcg-1{
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --percent-tcg-2{
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%;
}


// ::::::::::::::::::::::::::::::::::::::::::::::
// VIEWPORT ANIMATION CONFIGURATIONS N  ELEMENTS
// ::::::::::::::::::::::::::::::::::::::::::::::

.animation-element{

    // ~~~~~~~~~~~~~~~~~~
    // INITIAL SETTINGS 
    // ~~~~~~~~~~~~~~~~~~

    // INITIAL ANIMATION CONFIGURATIONS
    --animation-duration: .3s;
    --animation-delay: 0s;
    --animation-timing: ease-in-out;

    // SET ANIMATION CONFIGURATIONS 4 THE BACKWARD ANIMATIONS
    &.opacity-in,
    &.flipping-headline,
    &.filter-xy,

    &.fade-up,
    &.fade-from-right,
    &.fade-from-left,

    &.clippy-from-right-to-left,
    &.clippy-left-top-slide,
    &.clippy-right-top-slide,
    &.clippy-from-left-to-right,
    &.clippy-circle,
    &.clippy-from-top-to-bottom,
    
    &.color-up,
    
    &.zoom-up,
    &.zoom-down,

    &.trans-rotate-y-right-light,
    &.trans-rotate-y-left-light{

        &.transition-on{
            transition: all var(--animation-duration) var(--animation-delay) var(--animation-timing);
        }
        
    }

    // SET ANIMATION CONFIGURATIONS 4 THE FORWARD (COME IN) ANIMATIONS
    &.in-right-place{
        transition: all var(--animation-duration) var(--animation-delay) var(--animation-timing)
    }


    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // ANIMATIONS
    // ~~~~~~~~~~~~~~~~~~~~~~~

    // => KEYFRAME ELEMENTS
    // => SPECIALS
    // => OPACITY 
    // => CLIPPY 
    // => FADE 
    // => FILTER 
    // => ZOOM
    // => TRANSFORM 

    // 
    // KEYFRAME ELEMENTS

    &.the-circle-grows{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
            z-index: 2;
            // animation: the-circle-grows 1s forwards ease-in-out;
        }

        &.in-right-place{
        
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
                // background: white;
                z-index: 2;
                animation: the-circle-grows var(--animation-duration) var(--animation-delay) forwards var(--animation-timing);
            }
        }    
    }

    &.the-circle-grows-silent{
        position: relative;
         opacity: 0;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
            z-index: 2;
           
            // animation: the-circle-grows 1s forwards ease-in-out;
        }

        &.in-right-place{
            opacity: 1;
        
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
                // background: white;
                z-index: 2;
                animation: the-circle-grows var(--animation-duration) var(--animation-delay) forwards var(--animation-timing);
            }
        }    
    }


    //
    //  SPECIALS

    &.flipping-headline{
        transform: perspective(1000px) rotateX(180deg);
        color: transparent;
        transition: 
            transform var(--animation-duration) var(--animation-delay) var(--animation-timing),
            color var(--animation-duration)  var(--animation-timing);

        
        &.in-right-place{
            transform: perspective(1000px) rotateX(0deg);
            color:  var(--color-on-primary);
            transition: 
                transform var(--animation-duration)   var(--animation-timing),
                color var(--animation-duration) var(--animation-delay) var(--animation-timing);
        }
    }

    &.windblade-img-duo-left{
        transform: translateX(50%) !important;

        &.in-right-place{
            transform: rotate(-5deg) translate(3rem) !important;
        }
    }

    &.windblade-img-duo-right{
        transform: translateX(-50%);
        opacity: 0;

        &.in-right-place{
            transform: translateX(0%) !important;
            opacity: 1;
        }
    }


    // 
    // OPACITY

    &.opacity-in{
        opacity: 0;
        
        &.in-right-place{
            opacity: 1;
        }
    }

    
    //
    // CLIPPY 

    &.clippy-from-left-to-right{
        opacity: 0;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

        &.in-right-place{
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    &.clippy-from-right-to-left{
        opacity: 0;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

        &.in-right-place{
            opacity: 1;
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }
    }

    &.clippy-from-top-to-bottom{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        // opacity: 1;

        &.in-right-place{
            // opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    &.clippy-left-top-slide{
        clip-path: polygon(29% 27%, 100% 0, 100% 100%, 0 100%);
        opacity: 0.2;
        color: transparent;
        transition: 
                clip-path var(--animation-duration) var(--animation-delay)  var(--animation-timing),
                color var(--animation-duration) var(--animation-timing);

        &.in-right-place{
            opacity: 1;
            color: black;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transition: 
                clip-path var(--animation-duration)   var(--animation-timing),
                color var(--animation-duration) var(--animation-delay) var(--animation-timing);
        }
    }

    &.clippy-right-top-slide{
        clip-path: polygon(82% 21%, 0 0, 0 100%, 100% 100%);
        opacity: 0.2;
        color: transparent;
        transition: 
            clip-path var(--animation-duration) var(--animation-delay)  var(--animation-timing),
            color var(--animation-duration) var(--animation-timing);

        &.in-right-place{
            opacity: 1;
            color: black;
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            transition: 
                clip-path var(--animation-duration)   var(--animation-timing),
                color var(--animation-duration) var(--animation-delay) var(--animation-timing);
        }
    }

    &.clippy-circle{
        clip-path: circle(5.2% at 50% 50%);
        opacity: 0;
        filter: blur(10px);

        &.in-right-place{
            opacity: 1;
            clip-path: circle(70.7% at 50% 50%);
            filter: blur(0);
        }
    }


    // 
    // FADE 

    &.fade-up{
        opacity: 0 ;
        transform: translateY(5rem);

        &.in-right-place{
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.fade-from-right{
        opacity: 0;
        transform: translateX(5rem);

        &.in-right-place{
            opacity: 1;
            transform: translateX(0);
        }
    }

    &.fade-from-left{
        opacity: 0;
        transform: translateX(-5rem);

        &.in-right-place{
            opacity: 1;
            transform: translateX(0);
        }
    }


    // 
    // FILTER 

    &.contrast-up{
        filter: contrast(0.1);

        &.in-right-place{
            filter: contrast(1);
        }
    }

    &.contrast-down{
        filter: contrast(5);

        &.in-right-place{
            filter: contrast(1);
        }
    }

    &.color-up{
        filter: brightness(0.8);

        &.in-right-place{
            filter: brightness(1);
        }
    }



    //
    // ZOOM 

    &.zoom-down{
        transform: scale(2);

        &.in-right-place{
            transform: scale(1);
        }
    }

    &.zoom-up{
        transform: scale(0.9);

        &.in-right-place{
            transform: scale(1);
        }
    }


    //
    // TRANSFORMS

    &.trans-rotate-y-right-light{
        transform: perspective(1000px) rotateY(45deg);

        &.in-right-place{
            transform: perspective(1000px) rotateY(0deg);
        }
    }

    &.trans-rotate-y-left-light{
        transform: perspective(1000px) rotateY(-45deg);

        &.in-right-place{
            transform: perspective(1000px) rotateY(0deg);
        }
    }
}


// ::::::::::::::::::::::
// ANIMATION ELEMENTS
// ::::::::::::::::::::::


.zoom-bigger{
    animation: zoom-bigger 2s forwards;
}

.clippy-to-bottom{
    animation: clippy-to-bottom 2s forwards ease-in-out;
}

.go-brighter{
    animation: go-brighter 1s forwards linear;
}

.mikro-2-makro{
    animation: mikro-2-makro 1s forwards linear;
}


// .the-circle-grows{
//     position: relative;


//     &::before{

//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: block;
//         width: 100%;
//         height: 100%;
//         background: radial-gradient(circle, rgba(255,255,255,0) var(--percent-tcg-1), rgba(255,255,255,1) var(--percent-tcg-2) );
//         z-index: 2;
//         animation: the-circle-grows 1s forwards ease-in-out;
//     }
// }



// ::::::::::::::::::::::
// KEYFRAMES
// ::::::::::::::::::::::


// .....
// ZOOMS
// .....

// ZOOM BIGGER
@keyframes zoom-bigger {
    from{
        transform: scale(1.0);
    }

    to{
        transform: scale(1.5); 
    }
}


// .....
// CLIPPY
// .....

// CLIPPY 2 BOTTOM
@keyframes clippy-to-bottom {
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
    }

    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }
    
}

// MIKRO 2 MAKRO
@keyframes mikro-2-makro {
    from{
        clip-path: circle(15.9% at 50% 50%);
        // opacity: 0.5;
    }

    to{
        clip-path: circle(70.7% at 50% 50%);
        // opacity: 1;
    }
}



// .....
// FILTER
// .....

// GO BRIGHTER
@keyframes go-brighter {
    from{
        filter:brightness(0.0);
    }

    to{
        filter:brightness(1);
    }
}


// .....
// GRADIENT
// .....

// THE CIRCLE GROWS
@keyframes the-circle-grows {

    80%{
        --percent-tcg-2: 100%;
    }

    100%{
        --percent-tcg-1: 100%;
        --percent-tcg-2: 100%;

    }
}

// .....
// FADES
// .....

@keyframes fade-up {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
